# Copyright 2026 50Hertz Transmission GmbH and Elia Transmission Belgium SA/NV
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
# If a copy of the MPL was not distributed with this file,
# you can obtain one at https://mozilla.org/MPL/2.0/.
# Mozilla Public License, version 2.0

# These files are executed inside Linux containers, where a trailing carriage return breaks them:
# "/usr/bin/env: 'bash\r': No such file or directory". Keep them LF whatever the contributor's
# core.autocrlf setting. Parsed formats (YAML, JSON, TOML) accept CRLF and are left out on purpose.
*.sh            text eol=lf
Dockerfile      text eol=lf
Dockerfile.*    text eol=lf
