[project]
name = "toop_engine_dc_solver"
dynamic = ["version", "dependencies"]
description = "Brute-force DC topological remedial actions"

readme = "README.md"
keywords = [
    "topological remedial actions",
    "DC loadflow",
    "PTDF",
    "BSDF",
    "LODF",
]
classifiers=[
        'Development Status :: 1 - Planning',
        'Environment :: Console',
        'Intended Audience :: Developers',
        'Intended Audience :: Education',
        'Intended Audience :: Science/Research',
        'License :: OSI Approved :: MIT License',
        'Natural Language :: English',
        'Operating System :: OS Independent',
        'Programming Language :: Python',
        'Programming Language :: Python :: 3',
        'Programming Language :: Python :: 3.7',
        'Programming Language :: Python :: 3.8',
        'Programming Language :: Python :: 3.9',
        'Programming Language :: Python :: 3.10',
        'Programming Language :: Python :: 3.11'
]
requires-python = ">=3.11,<3.12"

[tool.hatch.metadata.hooks.uv-dynamic-versioning]
dependencies = [
    "numpy (>=1.26.0,<2.0.0)",
    "pandas[hdf5] (>=2.2.3,<3.0.0)",
    "scipy (>=1.11.3,<2.0.0)",
    "h5py (==3.12.1)",
    "jaxtyping (>=0.2.22,<0.3.0)",
    "jax (>=0.5.3,<0.6.0)",
    "chex (>=0.1.83,<0.2.0)",
    "beartype (>=0.22.0,<0.23.0)",
    "equinox (>=0.11.0,<0.12.0)",
    "jax-dataclasses (>=1.5.1,<2.0.0)",
    "tqdm (>=4.66.1,<5.0.0)",
    "numba (>=0.58.1,<0.59.0)",
    "overrides (>=7.7.0,<8.0.0)",
    "pypowsybl (>=1.10.0,<2.0.0)",
    "pydantic (>=1.10.3,<3.0.0)",
    "numpydantic (>=1.6.4,<2.0.0)",
    "matpowercaseframes (>=1.0.8,<2.0.0)",
    "tyro (>=0.8.8,<0.9.0)",
    "ray (>=2.42.1,<3.0.0)",
    "pandera (>=0.22.1,<0.23.0)",
    "kafka (>=1.3.5,<2.0.0)",
    "confluent-kafka (>=2.3.0,<3.0.0)",
    "logbook (>=1.8.1,<2.0.0)",
    "toop_engine_contingency_analysis=={{ version }}",
    "toop_engine_interfaces=={{ version }}",
    "toop_engine_grid_helpers=={{ version }}",
    "pandapower (>=3.0.0,<4.0.0)",
]

[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[dependency-groups]
dev = [
    "pep8-naming",
    "pre-commit",
    "pre-commit-hooks",
    "pytest",
    "pytest-cov",
    "pytest-coverage",
    "pytest-dotenv",
    "pytest-mock",
    "pytest-timeout",
    "pytest-xdist>=3.8.0",
    "ipykernel>=6.25.2",
    "jupyter>=1.0.0",
    "seaborn>=0.13.0",
    "plotly>=3.0.0",
    "openpyxl>=3.1.2",
    "ruff",
    "types-confluent-kafka>=1.3.3",
    "pytest-logbook>=1.2.0",
    "pypowsybl-jupyter>=1.0.0",
    "docker>=7.1.0",
]

[tool.uv.sources]
toop_engine_interfaces = { path = "../interfaces_pkg", editable = true }
toop_engine_grid_helpers = { path = "../grid_helpers_pkg", editable = true }
toop_engine_contingency_analysis = { path = "../contingency_analysis_pkg", editable = true }

[[tool.uv.index]]
name = "MCCS"
url = "https://pkgs.dev.azure.com/elia-digitization/b6a96fa0-abf9-45e4-8e6a-781e239ec47e/_packaging/MCCS/pypi/simple/"
publish-url = "https://pkgs.dev.azure.com/elia-digitization/b6a96fa0-abf9-45e4-8e6a-781e239ec47e/_packaging/MCCS/pypi/upload/"
explicit = true

[tool.uv-secure.ignore_packages]
ray = [] # Ignore issues with all versions of the ray package
