name: grid helper tests

on: push

env:
  PYTEST_ON_CI: True

jobs:
  test-grid-helpers-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    env:
      UV_PROJECT: packages/grid_helpers_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/grid_helpers_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest packages/grid_helpers_pkg/grid_helper_tests --cov=packages/grid_helpers_pkg/src --cov-config=.coveragerc --cov-report term-missing
