name: interfaces tests

on: push

env:
  PYTEST_ON_CI: True

jobs:
  test-interfaces-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    env:
      UV_PROJECT: packages/interfaces_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/interfaces_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest packages/interfaces_pkg/tests --cov=packages/interfaces_pkg/src --cov-config=.coveragerc --cov-report term-missing --cov-report xml:coverage-interfaces.xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-interfaces
          path: coverage-interfaces.xml
          retention-days: 7
