name: Build-backstage-docs

on:
  push:
    branches:
      - develop
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_docs:
    name: Build Backstage Documentation
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch full history
          fetch-tags: true # ensure tags are fetched
          ssh-key: ${{ secrets.RELEASE_BOT_KEY }}
          persist-credentials: true # keeps GITHUB_TOKEN set up for pushing back to remote

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install dependencies
        run: uv sync --frozen --only-group ci --only-group doc


      - name: Build the MkDocs site
        run: mkdocs build

      - name: Build and push MkDocs site to deploy-backstage-docs branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -e

          echo "Setting git credentials..."
          git config --global user.email "docbuilder@belgrid.net"
          git config --global user.name "DocBuilder"

          echo "Building the MkDocs site..."
          uv run mkdocs build

          echo "Copying new docs to temporary folder..."
          rm -rf /tmp/docs-build
          mkdir -p /tmp/docs-build
          cp -r site docs mkdocs.yml _backstage/backstage.yaml _backstage/config.yaml /tmp/docs-build/

          echo "Checking if deploy-backstage-docs branch exists on remote..."
          if git ls-remote --exit-code --heads origin deploy-backstage-docs; then
            echo "Branch exists. Checking out..."
            git fetch origin deploy-backstage-docs
            git checkout deploy-backstage-docs
          else
            echo "Branch does not exist. Creating..."
            git checkout -b deploy-backstage-docs
          fi

          echo "Cleaning old files..."
          git rm -rf . || true
          rm -rf *

          echo "Restoring new docs into _backstage/..."
          mkdir -p _backstage
          cp -r /tmp/docs-build/* _backstage/

          echo "Adding changes to git..."
          git add .

          echo "Committing changes..."
          git commit -m "Update MkDocs site" || echo "No changes to commit"

          echo "Pushing to deploy-backstage-docs branch..."
          git push origin deploy-backstage-docs --force
