# Copyright 2026 50Hertz Transmission GmbH and Elia Transmission Belgium SA/NV
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
# If a copy of the MPL was not distributed with this file,
# you can obtain one at https://mozilla.org/MPL/2.0/.
# Mozilla Public License, version 2.0

name: Renovate

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: false
        default: "debug"
        type: choice
        options:
          - debug
          - info
          - warn
          - error
  schedule:
    # Run daily at midnight UTC
    - cron: "0 0 * * *"

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.0.1
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: ${{ github.event.inputs.logLevel || 'info' }}
          RENOVATE_GIT_AUTHOR: "Renovate Bot <ToOp@eliagroup.eu>"
          RENOVATE_ONBOARDING: "false"
          RENOVATE_PLATFORM_COMMIT: "true"
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_USERNAME: "renovate[bot]"
