name: SonarQube Analysis

on: push

env:
  PYTEST_ON_CI: True

jobs:
  sonarqube:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    needs:
      - test-importer-package
      - test-grid-helpers-package
      - test-dc-solver-package
      - test-contingency-analysis-package
      - test-interfaces-package
      - test-topology-optimizer-package
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download importer coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-importer

      - name: Download grid helpers coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-grid-helpers

      - name: Download dc solver coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-dc-solver

      - name: Download contingency analysis coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-contingency-analysis

      - name: Download interfaces coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-interfaces

      - name: Download topology optimizer coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-topology-optimizer

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  test-importer-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on:
      labels: Runner-ToOp-Projects
    env:
      UV_PROJECT: packages/importer_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/importer_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest -n auto --dist loadgroup packages/importer_pkg/importer_tests --cov=packages/importer_pkg/src --cov-config=.coveragerc --cov-report term-missing
        env:
          CLEANUP_RAY_AFTER_TESTS: 1

  test-grid-helpers-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    env:
      UV_PROJECT: packages/grid_helpers_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/grid_helpers_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest packages/grid_helpers_pkg/grid_helper_tests --cov=packages/grid_helpers_pkg/src --cov-config=.coveragerc --cov-report term-missing

  test-dc-solver-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on:
      labels: Runner-ToOp-Projects
    env:
      UV_PROJECT: packages/dc_solver_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/dc_solver_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest -n auto --dist loadgroup packages/dc_solver_pkg/tests --cov=packages/dc_solver_pkg/src --cov-config=.coveragerc --cov-report term-missing
        env:
          CLEANUP_RAY_AFTER_TESTS: 1

  test-contingency-analysis-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    env:
      UV_PROJECT: packages/contingency_analysis_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/contingency_analysis_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest -n auto --dist loadgroup packages/contingency_analysis_pkg/tests --cov=./packages/contingency_analysis_pkg/src --cov-config=.coveragerc --cov-report term-missing

  test-interfaces-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    env:
      UV_PROJECT: packages/importer_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/interfaces_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest packages/interfaces_pkg/tests --cov=packages/interfaces_pkg/src --cov-config=.coveragerc --cov-report term-missing

  test-topology-optimizer-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on:
      labels: Runner-ToOp-Projects
    env:
      UV_PROJECT: packages/topology_optimizer_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/topology_optimizer_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest -n auto --dist loadgroup packages/topology_optimizer_pkg/optimizer_tests --cov=./packages/topology_optimizer_pkg/src --cov-config=.coveragerc --cov-report term-missing
