name: SonarQube Analysis


workflow_run:
    workflows: ["contingency analysis tests", "interfaces tests", "importer tests", "grid helpers tests", "dc solver tests", "topology optimizer tests"]   # Name of the other workflow(s)
    types: [completed]


env:
  PYTEST_ON_CI: True

jobs:
  sonarqube:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download importer coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-importer

      - name: Download grid helpers coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-grid-helpers

      - name: Download dc solver coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-dc-solver

      - name: Download contingency analysis coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-contingency-analysis

      - name: Download interfaces coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-interfaces

      - name: Download topology optimizer coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-topology-optimizer

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
