name: topology optimizer tests

on: push

env:
  PYTEST_ON_CI: True

jobs:
  test-topology-optimizer-package:
    permissions:
      contents: read
      pull-requests: read
    runs-on:
      labels: Runner-ToOp-Projects
    env:
      UV_PROJECT: packages/topology_optimizer_pkg
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "packages/topology_optimizer_pkg/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-groups --all-extras --frozen

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Run tests with code coverage report
        run: uv run pytest packages/topology_optimizer_pkg/optimizer_tests --cov=./packages/topology_optimizer_pkg/src --cov-config=.coveragerc --cov-report term-missing
