# Copyright 2025 50Hertz Transmission GmbH and Elia Transmission Belgium
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
# If a copy of the MPL was not distributed with this file,
# you can obtain one at https://mozilla.org/MPL/2.0/.
# Mozilla Public License, version 2.0

name: Validate PR title

on:
  pull_request:
    branches:
      - main
      - develop

    types:
      - opened
      - edited # Trigger on title edits
      - reopened
      - synchronize
jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:

      - name: Install commitizen
        run: |
          pipx install commitizen

      - name: Validate PR title
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          cz check --message "$PR_TITLE"
