name: Validate PR title

on:
  pull_request:
    branches:
      - main
      - develop

    types:
      - opened
      - edited # Trigger on title edits
      - reopened
jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:

      - name: Install commitizen
        run: |
          pipx install commitizen

      - name: Validate PR title
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          cz check --message "$PR_TITLE"
